<header>

    <div class="jumbotron jumbotron-fluid">

        <div class="container">

            <h1 class="display-4" style="text-align: center;">DEPO</h1>
            <p class="lead">Depolardaki Tüm Ürünler Aşağıda Listelenmiştir.</p>
            <p class="lead">Menu Kısmını Kullanarak Depo ve Ürün Ekleyip, Listeleme İşlemlerini Yapabilirsiniz.</p>
        
        </div>
        
    </div>

</header>